
 body {
    background-color: #CCCCCC; 
    } 

.bar {
    width: 100vh;
    height: 100px;
}

.square {
    width: 60px;
    height: 60px;
    background-color:#4A90E2;
    margin: 20px;
}

.bar-1 {
    width: 91vh;
    height: 170px;
    background-color:#ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 60px 30px 0px 30px;
     
}

.bar-2 {
    background-color:#4A90E2;
}

.bar-3 { 
    background-color: #50E3C2;
}

.bar-4 {
    background-color:#B8E986;
}

.bar-5 {
    background-color:#F8E71C;
}
